{{ define "templates/layouts/html/header" }}

<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{ .APP_NAME }}</h1>
		<p class="lead">
			 A simple personal Blog made with Gin, Gorm and MySQL.
		</p>
	</div>

{{end}}